<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ML7AC2投票</title>

    <style type="text/css">
     /*將CSS寫在HTML中*/
     body{
     width: 130%;
     color: BLACK;
     margin:0 auto;
     font-family: sans-serif, "微軟正黑體";
     overflow: auto;
     }
     
    #header{
     background-color: #40292F;
     padding: 0.1%;
     }

     #nav{
     background-color: #40292F;
     padding: 5px;
     }

     #aside{ 
     width: 6.3%;
     height: 95%;
     text-align: center;
     background-color: #E1C4C4;
     padding:20px 10px;
     float: left;
     }

     #section{
     width: 91%;
     height: 95%;
     background-color: #E1C4C4;
     line-height: 1.5em;
     padding: 20px;
     float: right;
     overflow: auto;
     }

     #footer{
     padding:2%;
     background-color: #425660;
     clear: both;
     }
  
     h1{
     font-family: sans-serif, "微軟正黑體";
     font-size: 18px;
     color: #FFF;
     text-align: center;
     }

     </style>
  </head>

<body>
  <header id="header">
    <h1></h1>
  </header>
  
  <nav id="nav">
    <h1>ML7AC2投票系統</h1>
  </nav>
  
  <aside id="aside">
    <h1></h1>
     
  </aside>
  
  <section id="section">
   



<form method='post' action={{ url_for('voteMess')}}>

   
<table style="border:3px #984B4B dashed;" align="left" class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1"><font size="5" color="brown" cellpadding="10" border='0'>Yida</font</th>
<th></th>
<th><font size="4">Rules</th>
<th></th>
</tr></thead>
<tbody><tr>
<td><font size="4"> </td>
<td><font size="4">快</td>
<td><font size="4">狠</td>
<td><font size="4">準</td>
</tr>
<tr>
<td><font size="4">NO.1</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.2</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.3</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.4</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.5</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.6</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.7</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.8</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.9</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida0903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.10</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1003">Yes</td>
</tr>
<tr>
<td><font size="4">NO.11</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.12</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.13</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.14</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.15</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.16</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.17</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.18</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.19</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida1903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.20</td>
<td><font size="4"><input type="checkbox" value="1" name="yida2001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida2002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="yida2003">Yes</td>
</tr>

</tbody></table>

<table align="left" width="5%"><tr><td><font size="4"></td></tr></table>
<table align="left" style="border:3px #984B4B dashed;" class="table table-bordered table-hover table-condensed"></font</th>
<thead><tr><th title="Field #1"><font size="5" color="brown" cellpadding="10" border='0'>Roger</font</th>
<th></th>
<th><font size="4">Rules</th>
<th></th>
</tr></thead>
<tbody><tr>
<td><font size="4"> </td>
<td><font size="4">快</td>
<td><font size="4">狠</td>
<td><font size="4">準</td>
</tr>
<tr>
<td><font size="4">NO.1</td>
<td><font size="4"><input type="checkbox" value='1' name="roger0101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.2</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.3</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.4</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.5</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.6</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.7</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.8</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.9</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger0903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.10</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1003">Yes</td>
</tr>
<tr>
<td><font size="4">NO.11</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.12</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.13</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.14</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.15</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.16</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.17</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.18</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.19</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger1903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.20</td>
<td><font size="4"><input type="checkbox" value="1" name="roger2001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger2002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="roger2003">Yes</td>
</tr>

</tbody></table>

<table align="left" width="5%"><tr><td><font size="4"></td></tr></table>
<table style="border:3px #984B4B dashed;" align="left"  class="table table-bordered table-hover table-condensed"></font</th>
<thead><tr><th title="Field #1"><font size="5" color="brown" cellpadding="10" border='0'>calvin</font</th>
<th></th>
<th><font size="4">Rules</th>
<th></th>
</tr></thead>
<tbody><tr>
<td><font size="4"> </td>
<td><font size="4">快</td>
<td><font size="4">狠</td>
<td><font size="4">準</td>
</tr>
<tr>
<td><font size="4">NO.1</td>
<td><font size="4"><input type="checkbox" value='1' name="calvin0101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.2</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.3</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.4</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.5</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.6</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.7</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.8</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.9</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin0903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.10</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1003">Yes</td>
</tr>
<tr>
<td><font size="4">NO.11</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.12</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.13</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.14</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.15</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.16</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.17</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.18</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.19</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin1903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.20</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin2001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin2002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="calvin2003">Yes</td>
</tr>

</tbody></table>


<table align="left" width="5%"><tr><td><font size="4"></td></tr></table>
<table style="border:3px #984B4B dashed;" align="left"  class="table table-bordered table-hover table-condensed"></font</th>
<thead><tr><th title="Field #1"><font size="5" color="brown" cellpadding="10" border='0'>jhhsu</font</th>
<th></th>
<th><font size="4">Rules</th>
<th></th>
</tr></thead>
<tbody><tr>
<td><font size="4"> </td>
<td><font size="4">快</td>
<td><font size="4">狠</td>
<td><font size="4">準</td>
</tr>
<tr>
<td><font size="4">NO.1</td>
<td><font size="4"><input type="checkbox" value='1' name="jhhsu0101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.2</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.3</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.4</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.5</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.6</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.7</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.8</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.9</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu0903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.10</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1003">Yes</td>
</tr>
<tr>
<td><font size="4">NO.11</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.12</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.13</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.14</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.15</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.16</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.17</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.18</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.19</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu1903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.20</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu2001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu2002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="jhhsu2003">Yes</td>
</tr>

</tbody></table>

<table align="left" width="5%"><tr><td><font size="4"></td></tr></table>

<table style="border:3px #984B4B dashed;" align="left"  class="table table-bordered table-hover table-condensed"></font</th>
<thead><tr><th title="Field #1"><font size="4" color="brown" cellpadding="10" border='0'>alexxcpan</font</th>
<th></th>
<th><font size="4">Rules</th>
<th></th>
</tr></thead>
<tbody><tr>
<td><font size="4"> </td>
<td><font size="4">快</td>
<td><font size="4">狠</td>
<td><font size="4">準</td>
</tr>
<tr>
<td><font size="4">NO.1</td>
<td><font size="4"><input type="checkbox" value='1' name="alexxcpan0101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.2</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.3</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.4</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.5</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.6</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.7</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.8</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.9</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan0903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.10</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1003">Yes</td>
</tr>
<tr>
<td><font size="4">NO.11</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.12</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.13</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.14</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.15</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.16</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.17</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.18</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.19</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan1903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.20</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan2001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan2002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="alexxcpan2003">Yes</td>
</tr>
</tbody></table>


<table align="left" width="5%"><tr><td><font size="4"></td></tr></table>

<table style="border:3px #984B4B dashed;" align="left"  class="table table-bordered table-hover table-condensed"></font</th>
<thead><tr><th title="Field #1"><font size="5" color="brown" cellpadding="10" border='0'>chihyu</font</th>
<th></th>
<th><font size="4">Rules</th>
<th></th>
</tr></thead>
<tbody><tr>
<td><font size="4"> </td>
<td><font size="4">快</td>
<td><font size="4">狠</td>
<td><font size="4">準</td>
</tr>
<tr>
<td><font size="4">NO.1</td>
<td><font size="4"><input type="checkbox" value='1' name="craig0101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.2</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.3</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.4</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.5</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.6</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.7</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.8</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.9</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig0903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.10</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1003">Yes</td>
</tr>
<tr>
<td><font size="4">NO.11</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1101">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1102">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1103">Yes</td>
</tr>
<tr>
<td><font size="4">NO.12</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1201">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1202">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1203">Yes</td>
</tr>
<tr>
<td><font size="4">NO.13</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1301">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1302">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1303">Yes</td>
</tr>
<tr>
<td><font size="4">NO.14</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1401">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1402">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1403">Yes</td>
</tr>
<tr>
<td><font size="4">NO.15</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1501">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1502">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1503">Yes</td>
</tr>
<tr>
<td><font size="4">NO.16</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1601">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1602">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1603">Yes</td>
</tr>
<tr>
<td><font size="4">NO.17</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1701">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1702">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1703">Yes</td>
</tr>
<tr>
<td><font size="4">NO.18</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1801">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1802">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1803">Yes</td>
</tr>
<tr>
<td><font size="4">NO.19</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1901">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1902">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig1903">Yes</td>
</tr>
<tr>
<td><font size="4">NO.20</td>
<td><font size="4"><input type="checkbox" value="1" name="craig2001">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig2002">Yes</td>
<td><font size="4"><input type="checkbox" value="1" name="craig2003">Yes</td>
</tr>

</tbody></table>



<p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<input type="submit" style="font-size:30px"  value="Submit"></p>
</form>

  </section>
  
  <footer id="footer">
    <h1>僅用試用</h1>
  </footer>

</body>
</html>