<style>
input.in1{
background-color: transparent;
border:0;
font-size:23px;
font-family: sans-serif, "微軟正黑體";
outline:medium;
}
h3{
     font-family: sans-serif, "微軟正黑體";
     font-size: 25px;
     color: red;
     text-align: left;
	 background-color:white;
     }
	 
table.t2 {
  font-family: "Times New Roman", Times, serif;
  border: 2px solid #FFFFFF;
  width: 40%;
}
table.t2 td, table.t2 th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.t2 tbody td {
  font-size: 13px;
}
table.t2 td:nth-child(even) {
  background: #EBEBEB;
}
table.t2 thead {
  background: #FFFFFF;
  border-bottom: 2px solid #333333;
}
table.t2 thead th {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-align: left;
  border-left: 2px solid #333333;
}
table.t2 thead th:first-child {
  border-left: none;
}



input.in_subDate{
//日期submit;
background-color: #c0c0c0;
border-radius:3px;
cursor:pointer;
font-weight: bold; 
font-family: sans-serif, "微軟正黑體";
width:75px;
height:40px;
font-size:20px;
//outline:medium;
//color: #1755ff;
text-align: center;
padding-left: 0;
}
input.in_subDate:active{
    //position:relative;
	background-color:#f0f0f0;
	top:100px;
}
input.in_subDate:hover{
    background:linear-gradient(to bottom, #e0e0e0 5%, #f0f0f0 100%);
	background-color:#f0f0f0;
}

</style>
<script type="text/javascript">
function checkLightID_OCT(Obj){
	var id_base = 'OCT_M1_ID0';
	var id;
	var element; 

	for (var i = 1; i <= 4; i++){
		id = id_base + parseInt(i);
		element = document.getElementById(id);
		if (element){
			if(element.value == ""){
				alert("請記得輸入CSD ID !!");
				return false;
			}else if(element.value.length != 7){
				alert("提醒: ChipID 需為7碼 !!");
				return false;
			}
		}
	}
	Obj.form.submit(Obj.name);
	Obj.disabled=true;				
}

</script>


	<form method='post' role="form" action={{ url_for('userMain') }}>
	{% if class0 == 'OCT' %}
		{% if mode == 'Light'%}
		{% import 'norCheck.html' as form %}
		{{  form.OCTLightCheckList(class0, mach0, user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode == 'Light_Linechange'%}
		{% import 'norCheck.html' as form %}
		{{  form.OCTLightLineChangeList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
	
		{% elif mode == 'Clear'%}
		{% import 'norCheck.html' as form %}
		{{  form.ClearCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode == 'CST'%}
		{% import 'norCheck.html' as form %}
		{{  form.CSTCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode == 'CST_500'%}
		{% import 'norCheck.html' as form %}
		{{  form.CSTCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode == 'CST_Linechange'%}
		{% import 'norCheck.html' as form %}
		{{  form.CSTLineChangeList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode == 'Maint'%}
		{% import 'norCheck.html' as form %}
		{{  form.MaintCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode == 'Consum'%}
		{% import 'norCheck.html' as form %}
		{{  form.ConsumCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		
		{#{mode}#}
	    {% endif %}

	
	
	
	
	{% elif class0 == 'CT1' %}
		{% if mode == 'Light'%}
		{% import 'norCheck_CT1.html' as form %}
		{{  form.LightCheckList(class0, mach0, user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode == 'Light_Linechange'%}
		{% import 'norCheck_CT1.html' as form %}
		{{  form.LightLineChangeList(class0, mach0, user, name, auth, shift, time, mode, notify) }}
		
		{# CT1的CLEAR 為 Cold run	#}
		{% elif mode == 'Clear_Linechange'%}
		{% import 'norCheck_CT1.html' as form %}
		{{  form.ColdRunCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode[0:14] == 'CST_Linechange'%}
		{% import 'norCheck_CT1.html' as form %}
		{{  form.CSTLCList(class0, mach0,user, name, auth, shift, time, mode, model0, model1) }}
		
		{% elif mode == 'CST'%}
		
		{% import 'norCheck_CT1.html' as form %}
		{{  form.CSTCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		
		{% elif mode == 'Maint'%}
		{% import 'norCheck_CT1.html' as form %}
		{{  form.MaintCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode == 'Consum'%}
		{% import 'norCheck_CT1.html' as form %}
		{{  form.ConsumCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		
	    {% endif %}
	
	
	{% elif class0 == 'LASER' %}
		
		
		{% if mode == 'Clear' %}
		{% import 'norCheck_LSR.html' as form %}
		{{  form.ClearCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode == 'CST'%}
		{% import 'norCheck_LSR.html' as form %}
		{{  form.CSTCheckList(class0, mach0,user, name, auth, shift, time, mode, notify) }}
		
		{% elif mode == 'Consum'%}
		{% import 'norCheck_LSR.html' as form %}
		{{  form.ConsumCheckList(class0, mach0,user, name, auth, shift, time, mode, consum_date) }}
		
		
	    {% endif %}
	{% endif %}
	
	
	
	
	</form >