
{% macro table_octADCRBRej(df,date1, date2) -%}


<h5>1. 成功率<80% & 總數 >= 20 ，請確認是否誤判</h5>
<table class = 'redTable' align="left">

<thead><tr>
{% for i in df.head(1)%}
	
	{% if  loop.index <= 25 %}
		<th>{{i}}</th>
	{% endif %}
{% endfor %}
</tr></thead>


{% for key,value in df.iterrows() %}
<tr>
	{% for i in df.head(1)%}
		{# loop.index 號碼從1開始, 1,2,3... #}
		{% if  i in ['ZP(%)'] and value[i] < 80 and value['總數'] >= 20 %}<td bgcolor="#FFC1E0">
		

		{% elif  i in ['ZP(%)'] and value[i] >= 5000000 %}<td bgcolor="#FFC1E0">

		
		
		
		{% else %}<td>	{% endif %} 
			
		
		{% if  i in ['ZP00', 'X'] %}
			<input type="submit" class='in_sub' value ="{{value[i]}}" name = "octADCRBRejRaw0__{{date1}}__{{date2}}__{{value['TOOL_ID']}}__{{value['PRODUCT_CODE']}}__{{i}}"> </td>
		
		{% elif  i in ['ZP(%)00', 'X(%)00'] %}
			<input type="submit" class='in_sub2' value ="{{value[i]}}" name = "octADCRBRejEQP__{{date1}}__{{date2}}__{{value['TOOL_ID']}}__{{value['PRODUCT_CODE']}}__{{i[:-3]}}"> </td>
		
		
		{% elif  loop.index <= 25 %}
			{{value[i]}} </td>
		{% endif %}
	{% endfor %}
</tr>
{% endfor %}

</table>

{%- endmacro %}

{% macro table_octADCRBRejRaw0(df, date1, date2) -%}
<input type="text" class='in2' name="date1" value ="{{date1}}" readonly size="6">~
<input type="text" class='in2' name="date2" value ="{{date2}}" readonly size="6">
<br/><br/>
<table class = 'redTable' >

<thead><tr>
{% for i in df.head(1)%}
	
	{% if  loop.index <= 25 %}
		<th>{{i}}</th>
	{% endif %}
{% endfor %}
<tr></thead>


{% for key,value in df.iterrows() %}
<tr>
	{% for i in df.head(1)%}
		{% if  i in [ 'TEST_TIME', 'ABBR_NO'] %}
			<td><input type="text" class='in1' name="{{key}}__{{i}}" value ="{{value[i]}}" size="14" readonly></td>
		
		{% elif  i in ['DEFECT', 'PRE_DEFECT', 'PRE_TEST_USER'] %}
			<td><input type="text" class='in1' name="{{key}}__{{i}}" value ="{{value[i]}}" size="10" readonly></td>
			
		{% elif  i in ['PRODUCT_CODE', '', 'TOOL_ID', 'CHIP_ID', ''] %}
			<td><input type="text" class='in1' name="{{key}}__{{i}}" value ="{{value[i]}}" size="7" readonly></td>
		{% elif  i in ['片數'] %}
			<td>
			<button type='submit' class='in_sub' value="XXX__{{date1}}__{{date2}}__{{value['TOOL_ID']}}__{{value['PRODUCT_CODE']}}__{{value['GRADE']}}__{{value['DEFECT']}}" name='octADCRBRejRaw'>{{value[i]}}</button>
			
			</td>
		
		{% else  %}
			<td><input type="text" class='in1' name="{{key}}__{{i}}" value ="{{value[i]}}" size="2" readonly></td>
		{% endif %}
			
	{% endfor %}
</tr>
{% endfor %}
</table>



{%- endmacro %}



{% macro table_octADCRBRejRaw(df, df_adc, date1, date2) -%}
<input type="text" class='in2' name="date1" value ="{{date1}}" readonly size="6">~
<input type="text" class='in2' name="date2" value ="{{date2}}" readonly size="6">
{#
<button type='submit' class='in_subDate' value="octADCRBRejRaw__{{date1}}__{{date2}}__{{df.loc[0]['TOOL_ID']}}__{{df.loc[0]['PRODUCT_CODE']}}__{{df.loc[0]['GRADE']}}__{{df.loc[0]['DEFECT']}}" name='csvDownload'>資料下載</button>
#}
<br/><br/>
<table class = 'redTable' >

<thead><tr>
{% for i in df.head(1)%}
	
	{% if  loop.index <= 25 %}
		<th>{{i}}</th>
	{% endif %}
{% endfor %}
<tr></thead>


{% for key,value in df.iterrows() %}
<tr>
	{% for i in df.head(1)%}
		{% if  i in [ 'TEST_TIME', 'ABBR_NO'] %}
			<td><input type="text" class='in1' name="{{key}}__{{i}}" value ="{{value[i]}}" size="14" readonly></td>
		
		{% elif  i in ['DEFECT', 'PRE_DEFECT', 'PRE_TEST_USER'] %}
			<td><input type="text" class='in1' name="{{key}}__{{i}}" value ="{{value[i]}}" size="10" readonly></td>
			
		{% elif  i in ['PRODUCT_CODE', '', 'TOOL_ID', 'CHIP_ID', ''] %}
			<td><input type="text" class='in1' name="{{key}}__{{i}}" value ="{{value[i]}}" size="7" readonly></td>
		{% elif  i in ['確認'] and value[i] == 'NA' %}
			<td>
			
			</td>
			
		{% elif  i in ['說明'] and value[i] == 'NA' %}
			<td>
			</td>
			
			
		{% elif  i in ['說明', '確認'] and value[i] != 'NA' %}
			<td>{{value[i]}}</td>

		
		{% else  %}
			<td><input type="text" class='in1' name="{{key}}__{{i}}" value ="{{value[i]}}" size="2" readonly></td>
		{% endif %}
			
	{% endfor %}
</tr>
{% endfor %}
</table>
<br/>
<br/><br/>
<input type='submit' class='in_subDate' name='octADCRBRej_Upload'   value="上傳">
<br/>

<h5>ADC RB覆判 IMAGE</h5>
<table class = 'redTable' >
<thead><tr>
{% for i in df_adc.head(1) %}
	{% if  loop.index <= 25 %}<th>{{i}}</th>{% endif %}
	
{% endfor %}
<tr></thead>
{% for key,value in df_adc.iterrows() %}

<tr>
	{% for i in df_adc.head(1)%}
	{% if  i in ['確認'] and value[i] == 'NA' %}
			<td>
			<select id="reason{{key}}" name="{{key}}__Check" >
					   <option  value="---">請選擇</option>
						<option  value="REAL">REAL</option>
						<option  value="Particle誤判">Particle誤判</option>
						<option  value="機台異常">機台異常</option>
						<option  value="邊緣誤判">邊緣誤判</option>
						<option  value="其他請說明">其他請說明</option>
			</select>
			</td>
	{% elif  i in ['說明'] and value[i] == 'NA' %}
		<td>
		<input type="text" name="{{key}}__Remarks"  style="width:200px;height:35px;font-size:16px"  value="" placeholder="其他請說明" size="10">
		</td>
		
		
	{% elif  i in ['說明', '確認'] and value[i] != 'NA' %}
		<td>{{value[i]}}</td>
	{% elif value[i]|safe == 'nan'%}	
			<td></td>
	{% else %}	
		<td>{{value[i]|safe}}</td>
	{% endif %}
	{% endfor %}
</tr>
{% endfor %}
</table>







{%- endmacro %}















		
		
{% macro table_octADCRBRejEQP(df, tool_id, pc) -%}
<p class='title1'>{{tool_id}}</p>
<p class='title1'> {{pc}}</p>
<table class = 'redTable' >
<thead><tr>
{% for i in df.head(1)%}
	<th>{{i}}</th>
{% endfor %}
</tr></thead>


{% for key,value in df.iterrows() %}
<tr>
	{% for i in df.head(1)%}
	
		<td>{{value[i]|safe}}</td>
		
		
		
	{% endfor %}
</tr>
{% endfor %}
</table>
{%- endmacro %}		
		
		
		





















